<a href="https://colab.research.google.com/github/iamr7d/python-basics/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Github**

In [ ]:
!git clone https://github.com/iamr7d/python-basics.git

Cloning into 'python-basics'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 13 (delta 4), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (13/13), 305.90 KiB | 5.56 MiB/s, done.
Resolving deltas: 100% (4/4), done.

In [ ]:
!git status

fatal: not a git repository (or any of the parent directories): .git

## **Python - Format - Strings**

### F-Strings

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets **{ }** as placeholders for variables and other operations.

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [ ]:
price = 550
txt = f"price of the car is {price} $"
print(txt)

price of the car is 550 $

## **Placeholders and Modifiers**

A placeholder can include a modifier to format the value.

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

In [ ]:
price = 59
txt = f"The price is {price:.0f} dollars"
print(txt)

The price is 59 dollars

In [ ]:
price = 59
txt = f"The price is {price:.1f} dollars"
print(txt)

The price is 59.0 dollars

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
price = 59
txt = f"The price is {price:.3f} dollars"
print(txt)

The price is 59.000 dollars

In [ ]:
price = 59
txt = f"The price is {price:.8f} dollars"
print(txt)

The price is 59.00000000 dollars

In [ ]:
price = 59
txt = f"The price is {price:.1000f} dollars"
print(txt)

The price is 59.0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 dollars

In [ ]:
price = 85.564
txt = f"price of the car is {price:.1f} dollars"
print(txt)

price of the car is 85.6 dollars

In [ ]:
price = 85.564
txt = f"price of the car is {price:.3f} dollars"
print(txt)

price of the car is 85.564 dollars

A placeholder can contain Python code, like math operations:

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
txt = f"The price is {100/20} dollars"
print(txt)

The price is 5.0 dollars

# **Python - Escape Characters**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

![image.png]()

# **Python Booleans**

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

In [ ]:
print(10 > 9)

True

In [ ]:
print(10 == 9)

False

In [ ]:
print(10 < 9)

False

When you run a condition in an if statement, Python returns True or False:

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## **Evaluate Values and Variables**

The bool() function allows you to evaluate any value, and give you True or False in return,

In [ ]:
print(bool("Hello"))

True

In [ ]:
print(bool(105))

True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

***Most Values are True***


* Almost any value is evaluated to True if it has some sort of content.

* Any string is True, except empty strings.

* Any number is True, except 0.

* Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
bool("abc")

True

In [ ]:
bool(123)

True

In [ ]:
bool(["apple", "cherry", "banana"])

True

* In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [ ]:
bool(False)

False

In [ ]:
bool(None)

False

In [ ]:
bool(0)

False

In [ ]:
bool("")

False

In [ ]:
bool(())

False

In [ ]:
bool([])

False

In [ ]:
bool({})

False

**Functions can Return a Boolean**

* You can create functions that returns a Boolean Value:

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

**isinstance()**

* Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [ ]:
x = 200
print(isinstance(x, int))

True

In [ ]:
x = 200
print(isinstance(x, str))

False

In [ ]:
x = "200"
print(isinstance(x, str))

True

In [ ]:
x = 200
print(isinstance(x, float))

False

In [ ]:
x = 200
print(isinstance(x, bool))

False

## **Python String Formatting**

Return "Expensive" if the price is over 50, otherwise return "Cheap":

In [ ]:
price = 49
txt = f"It is very {'Expensive' if price>50 else 'Cheap'}"

print(txt)

It is very Cheap

In [ ]:
price = 49
txt = f"it is {'good to buy' if price<50 else 'not good'}"
print(txt)

it is good to buy

Use the string method **upper()** to convert a value into upper case letters:

In [ ]:
fruit = "apples"
txt = f"I love {fruit.upper()}"
print(txt)

I love APPLES

The function does not have to be a built-in Python method,

you can create your own functions and use them:

In [ ]:
def myconverter(x):
  return x * 0.3048

txt = f"The plane is flying at a {myconverter(30000)} meter altitude"
print(txt)

The plane is flying at a 9144.0 meter altitude

In [ ]:
def sum(a,b):
  return a+b
txt = f"sum of 5 and 4 is {sum(5,4)}."
print(txt)

sum of 5 and 4 is 9.

In [ ]:
price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

The price is 59,000 dollars

### **String format()**

* The format() method also uses curly brackets as placeholders {}, but the syntax is slightly different:

In [ ]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [ ]:
txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 49.00 dollars

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

### **Index Numbers**

* You can use index numbers (a number inside the curly brackets {0}) to be sure the values are placed in the correct placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

Also, if you want to refer to the same value more than once, use the index number:

In [ ]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

### **Named Indexes**
* You can also use named indexes by entering a name inside the curly brackets {carname}, but then you must use names when you pass the parameter values txt.format(carname = "Ford"):

In [ ]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

# **LIST**

* Lists are used to store multiple items in a single variable.

* Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

* Lists are created using square brackets:

Create a List:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

## **List Items**
* List items are ordered, changeable, and allow duplicate values.

* List items are indexed, the first item has index [0], the second item has index [1] etc.

## **Ordered**

* When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

* If you add new items to a list, the new items will be placed at the end of the list.

## **Changeable**

* The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

## **Allow Duplicates**

* Since lists are indexed, lists can have items with the same value:

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

## **List Length**

* To determine how many items a list has, use the len() function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

## **List Items - Data Types**
* List items can be of any data type:

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

* A list can contain different data types:

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

## **The list() Constructor**

* It is also possible to use the list() constructor when creating a new list.

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

![image.png]()

## **Python - Access List Items**

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

### **Negative Indexing**
* Negative indexing means start from the end

* -1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

**Range of Indexes**

* You can specify a range of indexes by specifying where to start and where to end the range.

* When specifying a range, the return value will be a new list with the specified items.

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

#The search will start at index 2 (included)
#and end at index 5 (not included).

['cherry', 'orange', 'kiwi']

* **By leaving out the start value, the range will start at the first item:**

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

* **By leaving out the end value, the range will go on to the end of the list:**

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

## **Range of Negative Indexes**
* Specify negative indexes if you want to start the search from the end of the list:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

**Check if Item Exists**
* To determine if a specified item is present in a list use the in keyword:

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

**Change List Items**
* To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

**Change a Range of Item Values**

* To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

* If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

# The length of the list will change when the number of items inserted
# does not match the number of items replaced.

['apple', 'blackcurrant', 'watermelon', 'cherry']

* If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

## **Insert Items**
* To insert a new list item, without replacing any of the existing values, we can use the insert() method.

* The insert() method inserts an item at the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## **Append Items**
To add an item to the end of the list, use the append() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

## **Insert Items**
To insert a list item at a specified index, use the insert() method.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

## **Extend List**
To append elements from another list to the current list, use the extend() method.

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

## **Add Any Iterable**
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# **Remove List Items**

## **Remove Specified Item**
* The remove() method removes the specified item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

* If there are more than one item with the specified value, the remove() method removes the first occurrence:

In [ ]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

## **Remove Specified Index**
* The pop() method removes the specified index.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

* If you do not specify the index, the pop() method removes the last item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

* The del keyword also removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

* The del keyword can also delete the list completely.

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

## **Clear the List**
* The clear() method empties the list.

* The list still remains, but it has no content.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# **Python - Loop Lists**
## **Loop Through a List**
You can loop through the list items by using a for loop:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

## **Loop Through the Index Numbers**
* You can also loop through the list items by referring to their index number.

* Use the range() and len() functions to create a suitable iterable.

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

## **Using a While Loop**
* You can loop through the list items by using a while loop.

* Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

* Remember to increase the index by 1 after each iteration.

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

## **Looping Using List Comprehension**
* List Comprehension offers the shortest syntax for looping through lists:

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

* List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "an" in x:
    newlist.append(x)

print(newlist)

['banana', 'mango']

* With list comprehension you can do all that with only one line of code:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

## **Python - Sort Lists**

**Sort List Alphanumerically**

* List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

* Sort the list numerically:

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

## **Sort Descending**
* To sort descending, use the keyword argument reverse = True:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = False)
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

## **Customize Sort Function**
* You can also customize your own function by using the keyword argument key = function.

* The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]

for x in thislist:
  print(myfunc(x))

50
0
15
32
27

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

## **Case Insensitive Sort**
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

* Luckily we can use built-in functions as key functions when sorting a list.

* So if you want a case-insensitive sort function, use str.lower as a key function:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

## **Python - Copy Lists**

**Copy a List**

* You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

**Use the list() method**
* Another way to make a copy is to use the built-in method list().

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

**Use the slice Operator**
* You can also make a copy of a list by using the : (slice) operator.

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[1]
print(mylist)

banana

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[1:2]
print(mylist)

['banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:2]
print(mylist)

['apple', 'banana']

## **Join Lists**

There are several ways to join, or concatenate, two or more lists in Python.

* One of the easiest ways are by using the + operator.

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

* Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

* Or you can use the extend() method, where the purpose is to add elements from one list to another list:

In [ ]:
list1 = ["a", "f" , "c"]
list2 = [1, 22, 3]
list1.append(list2)
print(list1)

['a', 'f', 'c', [1, 22, 3]]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

![image.png]()

# **Tuples**

* Tuples are used to store multiple items in a single variable.

* Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

* A tuple is a collection which is ordered and unchangeable.

* Tuples are written with round brackets.

**Mnemonic Tricks:**

* Tuple: "T is for Tracked and Things that don't change"

  Use tuples when the order matters and you want an unchangeable sequence.

* List: "L is for Listing items flexibly"

  Use lists when you need to maintain order and might want to change the sequence, like a to-do list.

* Set: "S is for Single unique items"

  Use sets when you need a collection of unique items and don't care about the order, like tracking unique tags.

* Dictionary: "D is for Defined pairs and Diverse keys"

  Use dictionaries when you need to map keys to values, like a phone book or product catalog.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## **Tuple Items**
* Tuple items are ordered, unchangeable, and allow duplicate values.

* Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
# Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

## **Tuple Length**
* To determine how many items a tuple has, use the len() function:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

## **Create Tuple With One Item**
To create a tuple with only one item, you have to ***add a comma after the item***, otherwise Python will not recognize it as a tuple.

In [ ]:
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

## **Tuple Items - Data Types**
* Tuple items can be of any data type:

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

## **The tuple() Constructor**
* It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# **Python Collections (Arrays)**
There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* Dictionary is a collection which is ordered** and changeable. No duplicate members.

### **Access Tuple Items**
You can access tuple items by referring to the index number, inside square brackets:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

### **Negative Indexing**
* Negative indexing means start from the end.

* -1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

## **Range of Indexes**
* You can specify a range of indexes by specifying where to start and where to end the range.

* When specifying a range, the return value will be a new tuple with the specified items.

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

## **Range of Negative Indexes**
Specify negative indexes if you want to start the search from the end of the tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

## **Check if Item Exists**
* To determine if a specified item is present in a tuple use the in keyword:

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## **Change Tuple Values**
* Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

* But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## **Add Items**
  Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.
###  **1. Convert into a list:**

Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
thistuple

('apple', 'banana', 'cherry', 'orange')

### **2. Add tuple to a tuple.**
You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

**Note:** When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.

## **Remove Items**

Tuples are ***unchangeable***, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

Or you can **delete** the tuple completely:

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
#print(thistuple) #this will raise an error because the tuple no longer exists

### **Unpacking a Tuple**
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [ ]:
fruits = ("apple", "banana", "cherry")

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

#### **Using Asterisk** **( * )**

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

### **Loop Tuples**

### **Loop Through a Tuple**
You can loop through the tuple items by using a for loop.

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

### **Loop Through the Index Numbers**
* You can also loop through the tuple items by referring to their index number.

* Use the range() and len() functions to create a suitable iterable.

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

### **Using a While Loop**
* You can loop through the tuple items by using a while loop.

* Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

* Remember to increase the index by 1 after each iteration.

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i+1

apple
banana
cherry

### **Join Two Tuples**

To join two or more tuples you can use the + operator:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### **Multiply Tuples**
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# **Set**
* Sets are used to store multiple items in a single variable.

* Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

* A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

**Set Items**
* Set items are unordered, unchangeable, and do not allow duplicate values.

**Unordered**
* Unordered means that the items in a set do not have a defined order.

* Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

**Unchangeable**
* Set items are unchangeable, meaning that we cannot change the items after the set has been created.

**Duplicates Not Allowed**
* Sets cannot have two items with the same value.

In [ ]:
thisset1 = {"apple", "banana", "cherry", "apple"}

print(thisset1)

{'apple', 'cherry', 'banana'}

* The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'cherry', 'banana'}

* The values False and 0 are considered the same value in sets, and are treated as duplicates

In [ ]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

### **Get the Length of a Set**
* To determine how many items a set has, use the len() function.

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

### **Set Items - Data Types**
Set items can be of any data type:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

### **The set() Constructor**
It is also possible to use the set() constructor to make a set.

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
thisset = set(["apple1", "banana2", "cherry3"]) # note the double round-brackets
print(thisset)

{'apple1', 'cherry3', 'banana2'}

### **Python Collections (Arrays)**
There are four collection data types in the Python programming language:

1. List is a collection which is ordered and changeable. Allows duplicate members.
2.Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
3. Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
4. Dictionary is a collection which is ordered** and changeable. No duplicate members.

* Set items are unchangeable, but you can remove items and add new items.

**Access Items**
* You cannot access items in a set by referring to an index or a key.

* But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

### **Change Items**
Once a set is created, you ***cannot change*** its items, but you can add new items.

#### **Add Items**

Once a set is created, you cannot change its items, but you can add new items.

* To add one item to a set use the add() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

#### **Add Sets**
* To add items from another set into the current set, use the update() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'pineapple', 'mango', 'apple', 'cherry', 'banana'}

#### **Add Any Iterable**
* The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'cherry', 'apple', 'orange', 'banana'}

#### **Remove Set Items**

To remove an item in a set, use the remove(), or the discard() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

Remove "banana" by using the discard() method:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

* You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

* The return value of the pop() method is the removed item.

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

The clear() method empties the set:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The del keyword will delete the set completely:

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

# print(thisset)

## **Loop Sets**

You can loop through the set items by using a for loop:

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

### **Join Sets**
There are several ways to join two or more sets in Python.

* The union() and update() methods joins all items from both sets.

* The intersection() method keeps ONLY the duplicates.

* The difference() method keeps the items from the first set that are not in the other set(s).

* The symmetric_difference() method keeps all items EXCEPT the duplicates.

### **Union**
The union() method returns a new set with all items from both sets.

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'b', 'c'}

# **LOOPS**

Python has two primitive loop commands:

**1. while loops :** With the while loop we can execute a set of statements as long as a condition is true.

**2. for loops :** A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This for loop iterates through numbers from 1 to 5 using the range() function and prints each number.

In [ ]:
# Print numbers from 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

while loop does the same, printing numbers from 1 to 5, but it continues looping as long as the condition i <= 5 is True, and i is incremented after each iteration.

In [ ]:
# Print numbers from 1 to 5
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

**Sum of Even Numbers from 1 to 10**

In [ ]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
# Initialize the sum
sum_of_evens = 0

# Loop through numbers 1 to 10
for i in range(1, 11):
    # Check if the number is even
    if i % 2 == 0:
        sum_of_evens += i #sum_of_evens = sum_of_evens + i

#sum_of_evens gets updated in each iteration when an even number is found.
#For example, when i = 2, sum_of_evens becomes 2; when i = 4, it becomes 6 (2 + 4), and so on.

# Print the sum of even numbers
print("Sum of even numbers from 1 to 10 is:", sum_of_evens)

Sum of even numbers from 1 to 10 is: 30

**Step-by-Step Execution:**

Iteration 1: i = 1  Not even  sum_of_evens remains 0.

Iteration 2: i = 2  Even  sum_of_evens = 0 + 2 = 2.

Iteration 3: i = 3  Not even  sum_of_evens remains 2.

Iteration 4: i = 4  Even  sum_of_evens = 2 + 4 = 6.

Iteration 5: i = 5  Not even  sum_of_evens remains 6.

Iteration 6: i = 6  Even  sum_of_evens = 6 + 6 = 12.

Iteration 7: i = 7  Not even  sum_of_evens remains 12.

Iteration 8: i = 8  Even  sum_of_evens = 12 + 8 = 20.

Iteration 9: i = 9  Not even  sum_of_evens remains 20.

Iteration 10: i = 10  Even  sum_of_evens = 20 + 10 = 30.

In [ ]:
sum = 0
for i in range(1,11):
  if i%2==0:
    sum = sum + i
    print(sum)

2
6
12
20
30

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The variable i is initialized to 1. This will be the starting point for the while loop and will control how many times the loop runs.

In [ ]:
i = 1

This while loop will continue to execute as long as the condition i < 6 is True. In other words, the loop will run while i is less than 6. Once i becomes 6 or greater, the loop will stop.

In [ ]:
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

### **Break**
With the break statement we can stop the loop even if the while condition is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i= 1
while i <10:
  if i == 6:
    break
  print(i)
  i = i+1

1
2
3
4
5

## **The continue Statement**

With the continue statement we can stop the current iteration, and continue with the next:

Continue to the next iteration if i is 3:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 0
while i <15:
  i = 1+i
  if i ==13:
    continue
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
14
15

In [ ]:
i = 0

while i < 6:
    i += 1  # Increment i by 1
    print(i)  # Print the current value of i
else:
    print("Loop completed without interruption.")

1
2
3
4
5
6
Loop completed without interruption.

## **For Loops**
* A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

* This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages. With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

The for loop does not require an indexing variable to set beforehand.

### **Looping Through a String**
Even strings are iterable objects, they contain a sequence of characters:

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

### **The break Statement**
With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

Exit the loop when x is "banana", but this time the break comes before the print:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:
fruits = ["sachin", "ramesh","rohan"]
for x in fruits:
  if x == "ramesh":
    break
  print(x)

sachin

### **The continue Statement**
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
fruits = ["sachin", "ramesh","rohan"]
for x in fruits:
  if x == "ramesh":
    continue
  print(x)

sachin
rohan

### **The range() Function**
* To loop through a set of code a specified number of times, we can use the range() function,
* The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

### **Else in For Loop**
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

Print all numbers from 0 to 5, and print a message when the loop has ended:

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

The else block will NOT be executed if the loop is stopped by a **break** statement.

In [ ]:
for x in range(6):
  if x == 3:
    break
  print(x)
else:
  print("Finally finished!")

0
1
2

### **Nested Loops**
* A nested loop is a loop inside a loop.

* The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(2*x+" "+ 2*y)

redred appleapple
redred bananabanana
redred cherrycherry
bigbig appleapple
bigbig bananabanana
bigbig cherrycherry
tastytasty appleapple
tastytasty bananabanana
tastytasty cherrycherry

### **The pass Statement**
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
  pass

## **Python Functions**

* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### **Creating a Function**
In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
my_function()

Hello from a function

### **Arguments**
* Information can be passed into functions as arguments.

* Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

* The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

In [ ]:
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

### **Parameters or Arguments?**
The terms parameter and argument can be used for the same thing: information that are passed into a function.

* A parameter is the variable listed inside the parentheses in the function definition.

* An argument is the value that is sent to the function when it is called.

### **Number of Arguments**
By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

If you try to call the function with 1 or 3 arguments, you will get an error:

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil","#")

Emil #

## Arbitrary Arguments, *args

* If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

* This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

Arbitrary Arguments are often shortened to *args in Python documentations.

### **Keyword Arguments**
* You can also send arguments with the key = value syntax.

* This way the order of the arguments does not matter.

* The phrase Keyword Arguments are often shortened to ***kwargs*** in Python documentations.

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [ ]:
def add_numbers(a, b):
    return a + b

print(add_numbers(2, 3))  # This will output 5

5

### **What if we want a flexible number of inputs?**

Lets imagine you want to write a function that can add any number of inputs (not just 2). For example, sometimes you might want to add 3 numbers, or 4, or 100!

To solve this, we use *args.

### **Step 3: What is** *args?
The * symbol is like saying: Hey, Python, I dont know how many arguments (inputs) Im going to get.
args is just a name (you can call it anything), but args is commonly used. It stands for arguments.
How does *args work?
When you use *args, all the extra inputs are packed into a tuple (which is like a box that holds multiple things). Lets see it in action:

Example with *args:

In [ ]:
def add_numbers(*args):
    total = 0
    for number in args:
        total += number
    return total

print(add_numbers(1, 2))            # This will output 3
print(add_numbers(1, 2, 3, 4, 5))   # This will output 15

3
15

In [ ]:
def multiply(*args):
  total = 1
  for number in args:
    total = total * number
  return total

print(multiply(1,2))
print(multiply(1,2,3))

2
6

In [ ]:
def multiply(*args):
  total = 1
  for number in args:
    total = total * number
  return total

print(multiply(1,2,3,4,5))

120

In [ ]:
def myFun(arg1, *argv):
    print("First argument :", arg1)
    for arg in argv:
        print("Next argument through *argv :", arg)


myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

First argument : Hello
Next argument through *argv : Welcome
Next argument through *argv : to
Next argument through *argv : GeeksforGeeks

### **Step 4: What is** **kwargs?
Now lets take it up a notch. What if, instead of just values, you also want to give names to your inputs? This is where **kwargs comes in.

* The ** symbol means: Hey, Python, Im going to give you inputs with names (key-value pairs).

* kwargs stands for keyword arguments (because each input has a keyword, or name, like "age" or "name").
* How does **kwargs work?
  
  When you use **kwargs, all the named inputs are packed into a dictionary (a box that holds things with labels, like "name": "Alice").

In [ ]:
def introduce(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

introduce(name="Alice", age=10, hobby="drawing")

name: Alice
age: 10
hobby: drawing

In [ ]:
def student_profile(**kwargs):
    print("Student Profile:")
    for key, value in kwargs.items():
        print(f"{key.capitalize()}: {value}")

student_profile(name="John", age=15, grade="10th", hobby="painting")

Student Profile:
Name: John
Age: 15
Grade: 10th
Hobby: painting

In [ ]:
def student(**kwargs):
  print("profile")
  for key, value in kwargs.items():
    print(f"{key}:{value}")
student(name="John", age=15, grade="10th", hobby="painting")

profile
name:John
age:15
grade:10th
hobby:painting

In [ ]:
def myFun(arg1, arg2, arg3):
    print("arg1:", arg1)
    print("arg2:", arg2)
    print("arg3:", arg3)

# Now we can use *args or **kwargs to
# pass arguments to this function :
args = ("Geeks", "for", "Geeks")
myFun(*args)

arg1: Geeks
arg2: for
arg3: Geeks

In [ ]:
kwargs = {"arg1": "Geeks", "arg2": "for", "arg3": "Geeks"}
myFun(**kwargs)

arg1: Geeks
arg2: for
arg3: Geeks

### **Python Iterators**

* An iterator is an *object that contains a countable number of values*.

* An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

* Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().

#### **Iterator vs Iterable**
* Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

* All these objects have a iter() method which is used to get an iterator:

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))

apple

In [ ]:
print(next(myit))

banana

In [ ]:
print(next(myit))

cherry

Even strings are iterable objects, and can return an iterator:

In [ ]:
mystr = "banana"
myit = iter(mystr)

In [ ]:
print(next(myit))

b

In [ ]:
print(next(myit))
print(next(myit))

a
n

In [ ]:
print(next(myit))
print(next(myit))
print(next(myit))

a
n
a

#### **Looping Through an Iterator**
We can also use a for loop to iterate through an iterable object:

In [ ]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

The for loop actually creates an iterator object and executes the next() method for each loop.

### **Create an Iterator**
* To create an object/class as an iterator you have to implement the methods __iter__() and __next__() to your object.

* As you have learned in the Python Classes/Objects chapter, all classes have a function called __init__(), which allows you to do some initializing when the object is being created.

* The __iter__() method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.

* The __next__() method also allows you to do operations, and must return the next item in the sequence.

Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

### **StopIteration**

The example above would continue forever if you had enough next() statements, or if it was used in a for loop.

To prevent the iteration from going on forever, we can use the StopIteration statement.

In the __next__() method, we can add a terminating condition to raise an error if the iteration is done a specified number of times:

Stop after 20 iterations:

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### **Return Values**
To let a function return a value, use the return statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

### **The pass Statement**
function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [ ]:
def myfunction():
  pass

### **Positional-Only Arguments**

* You can specify that a function can have ONLY positional arguments, or ONLY keyword arguments.

* To specify that a function can have only positional arguments, add , / after the arguments:

In [ ]:
def my_function(x, /):
  print(x)

my_function(3)

3

Without the , / you are actually allowed to use keyword arguments even if the function expects positional arguments:

In [ ]:
def my_function(x):
  print(x)

my_function(x = 3)

3

But when adding the , / you will get an error if you try to send a keyword argument:

In [ ]:
def my_function(x, /):
  print(x)

#my_function(x = 3)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

### **Keyword-Only Arguments**
To specify that a function can have only keyword arguments, add *, before the arguments:

In [ ]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

Without the *, you are allowed to use positionale arguments even if the function expects keyword arguments:

In [ ]:
def my_function(x):
  print(x)

my_function(3)

3

But when adding the *, / you will get an error if you try to send a positional argument:

In [ ]:
def my_function(*, x):
  print(x)

#my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

### **Combine Positional-Only and Keyword-Only**
You can combine the two argument types in the same function.

Any argument before the / , are positional-only, and any argument after the *, are keyword-only.

In [ ]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

## **Recursion**

Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

## **Python Lambda**

* A lambda function is a small anonymous function.

* A lambda function can take any number of arguments, but can only have one expression.

Add 10 to argument a, and return the result:

In [ ]:
x = lambda a : a + 10
print(x(5))

15

Lambda functions can take any number of arguments:

### **What is a Lambda Function?**

Think of a lambda function as a mini-function you can create without giving it a name. It's a quick way to do something without having to write a full function using the def keyword.

### **Why Use Lambda Functions?**

* Simplicity: If you only need to use a function once or twice, making a full function might feel like too much work.

* Readability: They can make your code cleaner and easier to read if used correctly.

![image.png]()

In [ ]:
# This is a lambda function that adds two numbers
add = lambda x, y: x + y

# Now we can use this function
result = add(3, 4)
print(result)  # Output: 7

7

![image.png]()

In [ ]:
ten = lambda x: x+10
print(ten(2))

12

In [ ]:
multi = lambda x,y : x*y
print(multi(4,12))

48

In [ ]:
s = lambda y,z,w : y+z+w
print(s(4,15,10))

29

**Why Use Lambda Functions?**

* The power of lambda is better shown when you use them as an anonymous function inside another function.

* Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
def myfunc(n):
  return lambda a : a * n

In [ ]:
myfunc(5)

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

![image.png]()

In [ ]:
def func(n):
  return lambda a : a**n
fun = func(3)

print(fun(5))

125

In [ ]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

### What is an Array?

> An array is a special variable, which can hold more than one value at a time.


If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:

car1 = "Ford"

car2 = "Volvo"

car3 = "BMW"

However, what if you want to loop through the cars and find a specific one? And what if you had not 3 cars, but 300?

The solution is an array!

An array can hold many values under a single name, and you can access the values by referring to an index number.

### **Access the Elements of an Array**

You refer to an array element by referring to the index number.

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

In [ ]:
first_car = cars[0]  # This will return "Ford"

In [ ]:
cars[0] = "Toyota"  # The list is now ["Toyota", "Volvo", "BMW"]

**Finding the Length of a List**

To find out how many items are in a list, you can use the len() function:

In [ ]:
length = len(cars)  # This will return 3, as there are three cars in the list

**Looping Through a List**

You can loop through the items in a list using a for loop:

In [ ]:
for car in cars:
    print(car)

Toyota
Volvo
BMW

**Adding Elements**

To add new elements to a list, you can use the append() method:

In [ ]:
cars.append("Honda")  # The list is now ["Toyota", "Volvo", "BMW", "Honda"]

**Removing Elements**

To remove elements from a list, you can use either pop() or remove():

In [ ]:
cars.pop(1)  # This will remove "Volvo" from the list (index 1)

'Volvo'

In [ ]:
cars.remove("BMW")  # This will remove "BMW" from the list

| Method   | Description                                             |
|----------|---------------------------------------------------------|
| `append()` | Adds an element at the end of the list                |
| `clear()`  | Removes all elements from the list                     |
| `copy()`   | Returns a copy of the list                             |
| `count()`  | Returns the number of elements with the specified value|
| `extend()` | Adds elements from another list to the end of the list |
| `index()`  | Returns the index of the first occurrence of a value   |
| `insert()` | Adds an element at a specified position                |
| `pop()`    | Removes the element at the specified position          |
| `remove()` | Removes the first occurrence of a specified value      |
| `reverse()`| Reverses the order of the list                         |
| `sort()`   | Sorts the list                                        |

# What is a Class?
> A class is like a blueprint for creating objects. It defines the properties (attributes) and behaviors (methods) that the objects created from the class will have.

Think of a class like a recipe. A recipe tells you how to make something, but its not the actual dish itself. For example, if you have a recipe for making chocolate chip cookies, it tells you the ingredients you need and the steps to make the cookies, but it isnt a cookie yet.

In programming, a class is a blueprint or a template for creating things (which we call objects). It describes what properties (like color, size) and actions (like running, jumping) the things created from it can have.

**Example: Defining a Class**

Let's create a class called Dog:

Example:

* Class Name: Dog
* Properties: Color, Size, Breed
* Actions: Bark, Sit, Fetch

In [ ]:
class Dog:
    # Properties of the Dog class
    species = "Canis familiaris"  # This is a class attribute

    # The __init__ method initializes the object
    def __init__(self, name, age):
        self.name = name  # Instance attribute for the dog's name
        self.age = age    # Instance attribute for the dog's age

## **What is an Object?**
An object is like the actual cookie you make from that recipe. When you follow the recipe to bake cookies, you end up with real cookies that you can eat.

In programming, an object is a specific instance of a class. It has all the properties and can perform all the actions described in the class.

### ***Object Name: my_dog***

**Properties:**

* Color: Brown
* Size: Medium
* Breed: Labrador

**Actions:**

When you tell my_dog to bark, it makes a barking sound!

>  Class is like a recipe (e.g., the instructions for making a Dog).
Object is like the actual cookie you make (e.g., your specific dog named my_dog).

In [ ]:
# This is our class (like a recipe)
class Dog:
    def bark(self):  # This is an action
        return "Woof!"

# This is how we create an object (like making a cookie)
my_dog = Dog()  # Now we have a specific dog object
print(my_dog.bark())  # When we call bark on my_dog, it barks!

Woof!

In [ ]:
Dog.bark()

TypeError: Dog.bark() missing 1 required positional argument: 'self'

**Why Dog.bark() Doesn't Work**

When you try to call Dog.bark(), Python looks for a method called bark in the Dog class. However, since bark is defined to take self as its first parameter (which represents the instance of the class), it expects to be called on an object.

You would get an error if you try to run:

**How to Make It Work**

If you want to call a method like bark without needing an instance, you would need to define it as a class method or static method. Here's how you can do that:

In [ ]:
class Dog:
    @classmethod
    def bark(cls):  # Now it takes 'cls' instead of 'self'
        return "Woof!"

# Now you can call it like this:
print(Dog.bark())  # This works!

Woof!

In [ ]:
class Dog:
    @staticmethod
    def bark():  # No 'self' or 'cls' needed
        return "Woof!"

# Now you can call it like this:
print(Dog.bark())  # This works too!

Woof!

### **Visual Analogy**

Imagine you have:

* A Toy Factory (the class) that makes different toys.
* Teddy Bear and Action Figure are toys made in the factory (the objects).
The factory has a plan for making toys, just like a class has a plan for creating objects. Each toy made can have its own features and actions.

### **1. Instance Method**

**What is it?**

An instance method is a way for a specific dog (an object) to do something. It needs to know about the particular dog that is doing the barking.

**How It Works:**

When you create a dog from the Dog class, you get a specific dog (like a real dog with its own name and traits). This method uses self to know which dog is barking.

In [ ]:
class Dog:
    def bark(self):  # This is an instance method
        return "Woof!"

# Now, let's create a specific dog!
my_dog = Dog()  # Here we create a dog called my_dog

# Now my_dog can bark!
print(my_dog.bark())  # This will print: Woof!

Woof!

**Explanation:**

* my_dog: This is our specific dog. When we call my_dog.bark(), it knows it's my_dog that is barking.

* self: Its like saying, Hey, this method is for the dog that is calling it! So when bark is called, it refers to my_dog.

### **2. Class Method**

* **What is it?**

A class method is a way for the entire class to do something, not just one specific dog. This method knows about the class itself (like the whole dog family), not just one dog.

* **How It Works:**

Class methods use cls instead of self. This tells the method that its talking about the whole class of dogs, not just one.

In [ ]:
class Dog:
    @classmethod
    def bark(cls):  # This is a class method
        return "Woof from the whole class of dogs!"

# Now, let's call the class method directly from the class!
print(Dog.bark())  # This will print: Woof from the whole class of dogs!

Woof from the whole class of dogs!

**Explanation:**

> Dog.bark(): We call the bark method on the class itself. Its like saying, Hey all dogs, bark together!

> cls: This stands for the class itself, just like self is for a specific dog.

| **Concept**        | **Description**                                                                              | **Example Code**                                                                                                    | **Example Output**                          |
|---------------------|----------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------|---------------------------------------------|
| **Class**           | A blueprint for creating objects, like a recipe for cookies.                              | `class Cookie:`<br>`    def __init__(self, flavor, size):`                                                      | None (just defines the class)               |
| **Object**          | A specific instance of a class, like a specific cookie made from the Cookie class.        | `cookie1 = Cookie("Chocolate Chip", "Large")`<br>`cookie2 = Cookie("Oatmeal Raisin", "Medium")`                | Creates two cookie objects                  |
| **Self**            | Refers to the specific object being created or modified; used to access properties.       | `def describe(self):`<br>`    return f"This is a {self.size} {self.flavor} cookie."`                            | None (part of the method definition)        |
| **Properties**      | Attributes that define the object's characteristics, like flavor and size of cookies.     | `self.flavor = flavor`<br>`self.size = size`                                                                      | None (sets properties during object creation)|
| **Instance Method** | A method that operates on an instance of the class; can access instance properties.       | `def describe(self):`<br>`    return f"This is a {self.size} {self.flavor} cookie."`                            | None (part of the method definition)        |
| **Class Method**    | A method that belongs to the class itself; can access class-level data.                   | `@classmethod`<br>`def get_total_cookies(cls):`<br>`    return cls.total_cookies`                                | None (part of the method definition)        |
| **Static Method**   | A method that does not depend on class or instance data; can be called on the class.     | `@staticmethod`<br>`def baking_time():`<br>`    return "Bake cookies for 10-12 minutes at 350F."`             | None (part of the method definition)        |

In [ ]:
class Cookie:  # This is our cookie class (blueprint)
    total_cookies = 0  # Class variable to keep track of the total number of cookies

    def __init__(self, flavor, size):
        self.flavor = flavor  # Each cookie has a flavor
        self.size = size      # Each cookie has a size
        Cookie.total_cookies += 1  # Increment the count whenever a new cookie is created

    def describe(self):  # Method to describe the cookie
        return f"This is a {self.size} {self.flavor} cookie."  # Using self to access properties

    @classmethod  # This decorator indicates a class method
    def get_total_cookies(cls):
        return cls.total_cookies  # Return the total number of cookies created

    @staticmethod  # This decorator indicates a static method
    def baking_time():
        return "Bake cookies for 10-12 minutes at 350F."  # Instruction without needing any instance

# Creating cookie objects
cookie1 = Cookie("Chocolate Chip", "Large")
cookie2 = Cookie("Oatmeal Raisin", "Medium")

# Using the describe method
print(cookie1.describe())  # Output: This is a Large Chocolate Chip cookie.
print(cookie2.describe())  # Output: This is a Medium Oatmeal Raisin cookie.

# Using the class method
print("Total cookies made:", Cookie.get_total_cookies())  # Output: Total cookies made: 2

# Using the static method
print(Cookie.baking_time())  # Output: Bake cookies for 10-12 minutes at 350F.

This is a Large Chocolate Chip cookie.
This is a Medium Oatmeal Raisin cookie.
Total cookies made: 2
Bake cookies for 10-12 minutes at 350F.

| Feature             | Self                                                                 | Class Method                                                                 | Static Method                                                            |
|---------------------|----------------------------------------------------------------------|------------------------------------------------------------------------------|-------------------------------------------------------------------------|
| **Definition**      | Refers to the instance of the class being created or modified.      | A method that belongs to the class, not the instance.                       | A method that does not depend on class or instance data.                |
| **Usage**           | Used to access instance variables and methods.                       | Used to access class variables and methods.                                  | Used for utility functions that don't require access to class or instance data. |
| **Declaration**     | No decorators needed; just the first parameter in instance methods.  | Declared with the `@classmethod` decorator.                                 | Declared with the `@staticmethod` decorator.                            |
| **First Parameter** | Must always be `self`, referring to the current instance.           | Must always be `cls`, referring to the class.                               | No special first parameter; it can take any number of parameters.       |
| **Access**          | Can access instance attributes and methods.                          | Can access class attributes and methods.                                     | Cannot access instance or class attributes directly.                    |
| **Example Usage**   | `self.name` to access the name property of an instance.             | `@classmethod def total(cls): return cls.count`                             | `@staticmethod def bake(): return 'Bake at 350F'`                    |

### **1. Self**

self is a special parameter used in instance methods. It refers to the current object of the class, allowing access to the object's attributes and methods.

> Usage: When you create an instance of a class, you can use self to access properties and methods specific to that instance.

In [ ]:
class dog:
  def __init__(self,name):
    self.name = name

  def bark(self):
    return f"{self.name} says woof!"

In [ ]:
# Create an instance of Dog
my_dog = dog("Buddy")
print(my_dog.bark())  # Output: Buddy says Woof!

Buddy says woof!

```
__init__
``` is the constructor method where self.name is an instance variable. When you create my_dog, self refers to my_dog, allowing it to have a unique name.

### **2. Class Method**

A class method is a method that belongs to the class itself rather than any particular instance. It can access class variables and methods.

> Usage: Use class methods when you need to perform operations that relate to the class as a whole rather than individual instances.

In [ ]:
class Dog:
    count = 0  # Class variable to keep track of number of dogs

    def __init__(self, name):
        self.name = name
        Dog.count += 1  # Increment the count each time a new dog is created

    @classmethod
    def total_dogs(cls):  # Class method
        return f"Total dogs: {cls.count}"  # Access class variable

# Create instances of Dog
dog1 = Dog("Buddy")
dog2 = Dog("Max")

# Call the class method
print(Dog.total_dogs())  # Output: Total dogs: 2

The total_dogs method is a class method that can access the count class variable. It returns the total number of Dog instances created.

## 3. Static Method

A static method is a method that does not access or modify class or instance data. It behaves like a regular function but belongs to the class's namespace.

> Usage: Use static methods when you have a utility function that is related to the class but does not need to access any class or instance variables.

In [ ]:
class Dog:
    @staticmethod
    def bark():  # Static method
        return "Woof!"  # Does not access any instance or class data

# Call the static method
print(Dog.bark())  # Output: Woof!

Woof!

* The bark method does not require any information from the Dog class or its instances. It simply returns a string and can be called directly on the class without creating an instance.

| **Feature**         | **Self**                                    | **Class Method**                            | **Static Method**                            |
|---------------------|---------------------------------------------|---------------------------------------------|---------------------------------------------|
| **Definition**       | Refers to the instance of the class.        | Belongs to the class, not to an instance.   | A method that doesn't access class or instance data. |
| **Usage**            | Access instance variables and methods.      | Access class variables and methods.         | Utility functions that don't require class/instance data. |
| **Declaration**      | No decorators needed; just the first parameter. | Declared with `@classmethod`.               | Declared with `@staticmethod`.              |
| **First Parameter**  | Must be `self`.                             | Must be `cls`.                              | No special parameter needed.                |
| **Access**           | Can access instance attributes and methods. | Can access class attributes and methods.    | Cannot access instance or class attributes directly. |
| **Example Usage**    | `self.name` for instance variables.         | `@classmethod def total(cls)`               | `@staticmethod def bake()`                  |

## Python Classes/Objects
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

### **Create a Class**
To create a class, use the keyword class:

In [ ]:
class MyClass:
  x = 5

#### **Create Object**

Now we can use the class named MyClass to create objects:

Create an object named p1, and print the value of x:

In [ ]:
p1 = MyClass()
print(p1.x)

5

### **The __init__() Function**

* The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

* To understand the meaning of classes we have to understand the built-in __init__() function.

* All classes have a function called __init__(), which is always executed when the class is being initiated.

* Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

Create a class named Person, use the __init__() function to assign values for name and age:

In [ ]:
class person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

In [ ]:
man = person("john",36)

In [ ]:
print(man.name)
print(man.age)

john
36

> Note: The __init__() function is called automatically every time the class is being used to create a new object.

## **The __str__() Function**

> The `__str__()` function controls what should be returned when the class object is represented as a string.

> If the __str__() function is not set, the string representation of the object is returned:

The string representation of an object WITHOUT the __str__() function:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x7f3966229ba0>

The string representation of an object WITH the `__str__() `function:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

### **Object Methods**

Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

> Insert a function that prints a greeting, and execute it on the p1 object:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

## **The self Parameter**

* The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

* It does not have to be named self, you can call it whatever you like, but it has to be the first parameter of any function in the class:

Use the words mysillyobject and abc instead of self:

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

## **Modify Object Properties**

You can modify properties on objects like this:

Set the age of p1 to 40:

In [ ]:
p1.age = 40

In [ ]:
x = p1.age
print(x)

40

**Delete Object Properties**

You can delete properties on objects by using the del keyword:

Delete the age property from the p1 object:

In [ ]:
del p1.age

**Delete Objects**

You can delete objects by using the del keyword:

In [ ]:
del p1

## **The pass Statement**

class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.

In [ ]:
class Person:
  pass



---

# **Inheritance:**

Imagine your parents have a set of LEGO blocks. They built cool things with them, like houses, cars, and robots. When you grow up, you get their LEGO set. Now, you can use the same blocks to build the same cool stuff, and you can add your own special LEGO pieces to make new things!

> Parent Class: Your parent is the person who had the LEGO set first.

> Child Class: You, as the child, get the LEGO set and can build things from the same instructions. You can also add new LEGO blocks or change things up if you want.



---


* Inheritance allows us to define a class that inherits all the methods and properties from another class.

* Parent class is the class being inherited from, also called base class.

* Child class is the class that inherits from another class, also called derived class.

### **Create a Parent Class**

Any class can be a parent class, so the syntax is the same as creating any other class:

Create a class named Person, with firstname and lastname properties, and a printname method:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

### **Create a Child Class**
To create a class that inherits the functionality from another class, send the parent class as a parameter when creating the child class:

Create a class named Student, which will inherit the properties and methods from the Person class:

In [ ]:
class Student(Person):
  pass

> Note: Use the pass keyword when you do not want to add any other properties or methods to the class.

Use the Student class to create an object, and then execute the printname method:

In [ ]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

### **Add the __init__() Function**

* So far we have created a child class that inherits the properties and methods from its parent.

* We want to add the __init__() function to the child class (instead of the pass keyword).

> Note: The __init__() function is called automatically every time the class is being used to create a new object.

Add the `__init__()` function to the Student class:

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    # add properties etc.
    self.age = age
    self.name = name

* When you add the `__init__() `function, the child class will **no longer** inherit the parent's `__init__() function.`

* The child's __init__() function overrides the inheritance of the parent's __init__() function.

* To keep the inheritance of the parent's __init__() function, add a call to the parent's __init__() function:

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

### **Use the super() Function**

Python also has a super() function that will make the child class inherit all the methods and properties from its parent:

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

By using the super() function, you do not have to use the name of the parent element, it will automatically inherit the methods and properties from its parent.

### **Add Properties**

Add a property called graduationyear to the Student class:

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

In the example below, the year 2019 should be a variable, and passed into the Student class when creating student objects. To do so, add another parameter in the __init__() function:

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)

### **Add Methods**
Add a method called welcome to the Student class:

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

If you add a method in the child class with the same name as a function in the parent class, the inheritance of the parent method will be overridden.



---

## **Python Scope**

> A variable is only available from inside the region it is created. This is called scope.

**Local Scope**

A variable created inside a function belongs to the local scope of that function, and can only be used inside that function

In [1]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

**Function Inside Function**

As explained in the example above, the variable x is not available outside the function, but it is available for any function inside the function:

In [2]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

**Global Scope**

A variable created in the main body of the Python code is a global variable and belongs to the global scope.

Global variables are available from within any scope, global and local.

> A variable created outside of a function is global and can be used by anyone:

In [3]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

**Naming Variables**

If you operate with the same variable name inside and outside of a function, Python will treat them as two separate variables ***one available in the global scope (outside the function) and one available in the local scope (inside the function)***

In [4]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

### **Global Keyword**

If you need to create a global variable, but are stuck in the local scope, you can use the global keyword.

The global keyword makes the variable global.

In [6]:
def myfunc():
  global x
  x = 3

myfunc()

print(x)

3

To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [9]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

### **Nonlocal Keyword**

The nonlocal keyword is used to work with variables inside nested functions.

The nonlocal keyword makes the variable belong to the outer function.

In [10]:
def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello